#headline {
    width:100%;
    height:130px;
    background: $headline_color;
    text-align:center;
    margin:0 auto;
    
    h1 {
        color: $white_color;
        font-size: $h2_font_size;
        font-weight:100;
        padding-top:50px;

        @include break($media_bp1) {
            font-size: $media_h2_font;
            padding-top: 30px;
        }

        @include break($media_bp2) {
            font-size:$h3_font_size;
            padding-top:50px;
        }
    }
}

#content {

    @include headerContent(940px, 20px, auto);
    @include break($media_bp3)               {width: inherit;}
    
    h3 {
        color: $gray_color;
        font-size: $h3_font_size;
        font-weight:400;
        @include break($media_bp1)           {font-size: $font_16em;}
    }
    
    #products {
        width:460px;
        float:left;

        @include break($media_bp2) {
            width:96%;
            margin:0 2%;
            float:none;
        }
        
        @include break($media_bp3) {
            width:46%;
            margin:0 2%;
        }
    
        img {
            float:left;
            margin-right:20px;
        }    
        
        article {
            margin-bottom:40px;
            img {
                @include break($media_bp1)         {display:none;}
            }
        }
            
        h4 {
            line-height:1em;
        }
    }

    #testimonials {

        @include testimonials(460px, right);

        @include break($media_bp2) {
            width:96%;
            margin:0 2%;
            float:none;
        }
        
        @include break($media_bp3) {
            width:46%;
            margin:0 2%;
        }
    }
}