figure {       
    @include logo(400px, 190px, $nav_background_url, no-repeat, 0, 50px, left, block, 0); 
    
    @include break($media_bp1) {
        background-size: contain;
        height: 100px;
    }
    
    @include break($media_bp3) {
        width: inherit;
        height: 140px;
        float: none;
        background-position: center;
    }              
}

nav {
    
    @include navMenu(540px, 190px, left, right);

    @include break($media_bp1) {
        margin-bottom: 40px !important;
    }
    
    @include break($media_bp3) {
        width: inherit;
        height: 50px;
        float: none;
        text-align : center;
    }

    ul {
        list-style-type:none;
        margin-top:95px;
        
        @include break($media_bp3)     {margin-top: 0;}    
        
        li {
            display:inline;
            font-size: $nav_ul_li_font_size;
            margin-right:10px;
            
            @include break($media_bp2) {
                font-size: 0.8em;
                margin: 0 5px;
            }
        
            @include break($media_bp3) {
                font-size: $font_1em;
                margin: 0 10px;
            }

            a {
                color: $red_color;
                text-decoration:none;
                letter-spacing:-0.01em;

                &:hover {
                    color: $white_color;
               }
           }
       }
    }
}
